body {
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #131118;
}

body::-webkit-scrollbar-thumb {
    background: #2d2839;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #433b54;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2d2839;
    border-radius: 10px;
}

.custom-gradient-card {
    background: linear-gradient(135deg, rgba(99, 36, 235, 0.1) 0%, rgba(22, 17, 33, 0) 100%);
}

.chart-gradient {
    background: linear-gradient(180deg, rgba(99, 36, 235, 0.4) 0%, rgba(99, 36, 235, 0) 100%);
}
